.card {
  $contentWidth: 50%;
  $card-image-width: 50%;
  $card-text: $warm-gray;
  $border-radius: rem-calc(2.5px);
  $card-box-shadow: -1px -1px 50px 5px rgba(200, 200, 200, .6);
  $card-title-border-color: #EEEEEE;
  $gutter-small: rem-calc(10px);
  $gutter-medium: rem-calc(15px);
  $gutter-large: rem-calc(30px);
  $title-font-size: 1.5rem;
  $title-border: 2px solid $card-title-border-color;
  $img-height-medium: rem-calc(300px);
  $img-height-large: rem-calc(390px);
  $profile-img-size: rem-calc(30px);
  $want-side-by-side: false; // turn this on to get size by side layout

  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  box-shadow: $card-box-shadow;
  margin-bottom: $gutter-small;
  color: $warm-gray;

  @include breakpoint('large') {
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .card-content {
    padding: $gutter-large;
    flex-grow: 1;
    text-align: center;
    @if ($want-side-by-side) {
      @include breakpoint("large") {
        flex: 1 0 $contentWidth;
      }
    }
  }

  .title {
    padding-bottom: $gutter-medium;
    font-size: $title-font-size;
    border-bottom: $title-border;
    color: black;
    &:hover {
      cursor: hand;
      text-decoration: underline;
      color: lighten(black,26%);
    }
  }
  .card-image-container {
    flex-grow: 1;
    @include breakpoint("medium") {
      img {
        height: 100%;
        max-height: $img-height-medium;
      }
    }

    @include breakpoint("large") {
      flex: 1 0 $card-image-width;
      img {
        height: 100%;
        max-height: $img-height-large;
      }
    }
  }

  .footer {
    text-align: center;
    font-size: .8rem;
    margin-top: 40px;

    @include breakpoint('large') {
      margin-left: 0;
    }
  }

  .info {
    margin: $gutter-small 0 $gutter-small auto;
    display: inline-block;
    color: #808080;
    @include breakpoint('large') {
    }
  }

  .profile-img {
    width: $profile-img-size;
    height: $profile-img-size;
    margin-right: $gutter-small
  }

}
