.chat {
  $border-rad: 5px 5px 0 0;
  z-index: 2;
  margin-right:0;
  ::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background: get-color(primary);
  }

  &.restrained {
    .thread {
      height: 350px;
    }
  }

  &.bottom {
    position: fixed;
    bottom: 5px;
  }

  &.right {
    position: fixed;
    right: 1px;
  }

  .header {
    background: get-color(primary);
    border-radius: $border-rad;
    color: white;
    cursor: pointer;
    padding: 10px 19px;

    .title {
      font-weight: 800;
      font-size: .9rem;
    }

    .subtitle {
      margin-left: 10px;
      font-style: italic;
      font-weight: normal;
      color: white;
      animation: blink normal 1.5s infinite ease-in-out;
    }

    .icon {
      margin-right: 5px;
    }

    .minimize {
      margin-left:5px;
      margin-top: 12px;
      border: 2px solid white;
      width: 10px;
      color: white;
      float: right;
    }
  }
  .body {
    background: #E9E9E9;
  }
  .thread {
    padding: 8px 24px;
    overflow-y: scroll;
    border-bottom: 3px dotted white;
    margin-bottom: 0;
  }
  .message {
    font-size: 14px;
    margin: 8px 0;
    background: white;
    padding: 10px;
    border-radius: 5px;
  }

  .info {
    color: black;
  }

  .date {
    float: right;
    color: #999;
  }

  .whostyping {
    margin-top: 10px;
    margin-left: 25px;
    color: #999;
    font-style: italic;
  }
  .controls {
    padding: 18px 15px 0px 15px;
  }

  .input {
    background: #D3D3D3;
    color: black;
    margin-right: 20px;
    border-radius: 5px;
    &::placeholder {
      color: #999;
    }
  }

  @keyframes blink {
    0% {
      color: rgba(255, 255, 255, 1)
    }

    50% {
      color: rgba(255, 255, 255, .5)
    }

    100% {
      color: rgba(255, 255, 255, 1);
    }
  }
}



