.footer-bar {
  @include menu-base;
  @include flex-align($x: 'center');
  flex-wrap:wrap;
  background-color: $light-gray;
  margin-top: 1rem;
  min-height: 8.625rem;
  padding: rem-calc(20px);

  a {
    color: $dark-gray;
  }
}
