.footer-bar {
  @include menu-base;
  @include flex-align($x: 'center');
  background-color: $light-gray;
  margin-top: 1rem;
  min-height: 8.625rem;
  padding: rem-calc(20px);

  a {
    color: $dark-gray;
    letter-spacing: 1.2px;
    margin: rem-calc(5px);
  }
}
