.footer-bar {
  @include menu-base;
  @include flex-align($x: center);
  background-color: $light-gray;
  min-height: rem-calc(250px);
  padding: rem-calc(20px);
  margin-top: rem-calc(30px);
  a {
    color: $dark-gray;
    margin: rem_calc(10px);
    letter-spacing: 1.4px;
  }
}
