.full-screen-header {
  display: flex;
  @include flex-align($x: 'left', $y: 'middle');
  height: 60vh;
  overflow: hidden;
  z-index: 100;
  margin-top:66px; // fix nav covering

  img.header-bg {
    position: absolute;
    width: 100%;
    opacity: .3;
    height: 60vh;
    z-index: -1;
  }
}
