.off-canvas {
    .header {
        background: white;
        height: 50px;
    }
    .title {
        font-size: 2rem;
        margin: 14px;
    }
    .is-active {
        color: white;
        background: get-color(primary);
    }
}