// orbit bullet subclass
.rectangular.slider-bullets {
  button {
    padding: 0 rem-calc(40px);
  }
}

.owl-dots {
  float: left;
}

.owl-carousel.owl-theme .owl-dots  {
  .owl-dot span{
    width: rem-calc(60px);
    margin-left: 0;
  }
}
