.rectangular.slider-bullets {
  button {
    padding: 0 rem-calc(40px);
  }
}

.owl-dots {
  float: left;
}

// orbit bullet subclass

.owl-carousel.owl-theme .owl-dots {
  .owl-dot span {
    margin-left: 0;
    margin-right: rem-calc(10px);
    width: rem-calc(60px);
  }
}

.slider-item {
  img {
    max-width: 150px;
  }
}
