.menu-bar {
  display: flex;
  padding:10px 15px;
  border-bottom:1px solid #eee;

  .info {
    display:inline-flex;
    align-items: center;
  }
  .detail {
    display:flex;
    flex-direction: column;
    margin:0 15px;
  }

  .title {
    font-size: 1rem;
    display:inline-block;
  }

  .subtitle {
    font-size:.8rem;
    color: #bbb;
  }

  .logo {
    height: 85px;
  }

  .controls {
    display: inline-flex;
    align-self: center;
    margin-left:auto;
  }
}