$padding-offsets: (
  small: rem-calc(10px),
  medium: rem-calc(20px),
  large: rem-calc(30px)
);

.flex-align-left {
   -webkit-align-self: flex-start;
   align-self: flex-start;
  margin-right: auto;

}

.flex-align-right {
   -webkit-align-self: flex-end;
   align-self: flex-end;
  margin-left:auto;
}


img.l-img-restraint-width {
  max-width: 200px;
}

// generates vertical and horizontal padding
// based on $padding-offsets map
.l-padded {
  @include v-and-h-padding(0);
}

@each $key, $value in $padding-offsets {
  .l-#{$key}-padded {
    @include v-and-h-padding($value);
  }

  .l-#{$key}-v-padded {
    @include v-padding($value);
  }

  .l-#{$key}-h-padded {
    @include h-padding($value);
  }
}
