// orbit bullet subclass
.rectangular.orbit-bullets {
    button {
        border-radius: rem-calc(20px);
        padding: 0px rem-calc(40px);
        height: .7rem;
    }
}

.orbit {
  max-height: 100%;
}

.orbit-container {
  height:100%;
}

